<div class="container-fluid py-12 px-6 px-xl-0">
        <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
              <!-- card -->
              <div class="card">
                <!-- card body -->
                <div class="card-body">
                  <!-- card title -->
                  <h4 class="card-title mb-4">About Me</h4>
                  <span class="text-uppercase fw-medium text-dark
                      fs-5 ls-2">Bio</span>
                  <!-- text -->
                  <p class="mt-2 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspen disse var ius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                  </p>
                  <!-- row -->
                  <div class="row">
                    <div class="col-12 mb-5">
                      <!-- text -->
                      <h6 class="text-uppercase fs-5 ls-2">Position
                      </h6>
                      <p class="mb-0">Theme designer at Bootstrap.</p>
                    </div>
                    <div class="col-6 mb-5">
                      <h6 class="text-uppercase fs-5 ls-2">Phone </h6>
                      <p class="mb-0">+32112345689</p>
                    </div>
                    <div class="col-6 mb-5">
                      <h6 class="text-uppercase fs-5 ls-2">Date of Birth </h6>
                      <p class="mb-0">01.10.1997</p>
                    </div>
                    <div class="col-6">
                      <h6 class="text-uppercase fs-5 ls-2">Email </h6>
                      <p class="mb-0">Dashui@gmail.com</p>
                    </div>
                    <div class="col-6">
                      <h6 class="text-uppercase fs-5 ls-2">Location
                      </h6>
                      <p class="mb-0">Ahmedabad, India</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>